{% extends "layout.html" %}

{% block content %}

    <!-- VISUALIZACIÓN DE ARTICULOS-->
    <div class="container-fluid sticky-top2">
        <h1 style="text-align: center;">Carrito de compras</h1>
        <div class="container" style="overflow-x:auto;">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr style="text-align: center;">
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Tamaño</th>
                        <th>Cancelación</th>
                    </tr>
                </thead>
                <tbody >
                    <tr style="text-align: center;">
                        <th><img src="../static/img/Coleccion/CZEY28-HERO.jpg" alt=""></th>
                        <th>SVD Dojo T-Shirt</th>
                        <th>$14.990</th>
                        <th>Camiseta negra de hombre con simple logo izquierdo</th>
                        <th>L</th>
                        <th><a href="#" class="btn btn-primary bg-danger border-danger"> X</a></th>
                    </tr>
                    <tr style="text-align: center;">
                        <th><img src="../static/img/Coleccion/CZEYB2-HERO.jpg" alt=""></th>
                        <th>Left Chest Logo T-Shirt</th>
                        <th>$14.600</th>
                        <th>Camiseta blanca de hombre con simple logo izquierdo</th>
                        <th>XL</th>
                        <th><a href="#" class="btn btn-primary bg-danger border-danger"> X</a></th>
                    </tr>
                    <tr style="text-align: center;">
                        <th><img src="../static/img/Coleccion/JAYY28-HERO.jpg" alt=""></th>
                        <th>Vans OTW T-Shirt</th>
                        <th>$14.990</th>
                        <th>Camiseta negra de hombre con logo central de mediano tamaño</th>
                        <th>M</th>
                        <th><a href="#" class="btn btn-primary bg-danger border-danger"> X</a></th>
                    </tr>
                </tbody>
            </table>
            <h1 style="text-align: center;">Precio total: $ 44.580</h1>
        </div>

    </div>
</body>

{% endblock %}
