{% extends "layout.html" %} 

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Te damos la bienvenida a Zafiro</h1>
  <p class="lead">Somos lideres en la importacion de productos originales directamentes desde los Estados Unidos.</p>
</div>


<div class="container my-4">
  <hr class="my-4">

  <div class="container p-3 my-3 bg-dark text-white">
    <H1>Próximo Pedido</H1>
  </div>
    


  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" id="backnegro" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/9Q3WHT-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Trespassing T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/9QBCMA-ALT1.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">SVD Dojo T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/CZEY28-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Left Chest Logo T-Shirt</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/CZEYB2-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Left Chest Logo T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/JAYY28-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Vans OTW T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Coleccion/MSLYCV-ALT1.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Emory Shirt</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Poleras/TUXBLK-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Laced Long Sleeve T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Poleras/TUWBZX-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Wall Slide Tie Dye Long Sleeve T-Shirt</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../static/img/Poleras/TUXWHT-HERO.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Laced Long Sleeve T-Shirt</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>

<div class="container p-3 my-3 bg-dark text-white">
 <H1>Camisetas</H1>
</div>



<div class="container" id="backnegro" style="margin-top: 1%">
  <!-- PRIMERA FILA-->
  <div class="row"style="margin-top: 1%;">
    <!-- PRIMERA COLUMNA-->
    <div class="col-sm">
      <!--Polera  1-->
      <section>
        
          <div class="card text-left card">
            <img
              class="card-img-top"
              src="../static/img/Poleras/ROI3KS-HERO.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pro Skate Washed Out T-Shirt</h4>
              
              <p class="card-text text-left">
                $34.50
              </p>

              <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                </svg> Añadir al carrito</a
              >
            </div>
          </div>
        
      </section>
    </div>

    <!--Polera 2-->
    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/ROTWHT-HERO.webp"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans Crew T-Shirt</h4>
            <p class="card-text text-left">
              $24.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>
    <!--Polera 3 -->
    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/ROY85W-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans X Shake Junt Long Sleeve T-Shirt</h4>
            <p class="card-text text-left" >
              $34.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>
    <!--Meaty Lovers -->
    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/ROYBLK-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans X Shake Junt Long Sleeve T-Shirt</h4>
            <p class="card-text text-left" >
              $34.50
            </p>
            <a href="{{ url_for('carrito') }}" class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>
  </div>

  <!--FILA NUMERO 2-->
  <div class="row" style="margin-top: 1%;">
    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/ROZWHT-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans X Shake Junt Long Sleeve T-Shirt</h4>
            <p class="card-text text-left" >
              $34.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/RP3WHT-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Kyle Walker Classic Rose T-Shirt</h4>
            <p class="card-text text-left" >
              $24.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/RP13KS-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Kyle Walker Rose Long Sleeve T-Shirt</h4>
            <p class="card-text text-left" >
              $44.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
      
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/RP23KS-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Kyle Walker Checkerboard T-Shirt</h4>
            <p class="card-text text-left" >
              $39.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
      
    </div>
  </div>

  <!-- FILA NUMERO 3-->
  <div class="row" style="margin-top: 1%;">

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/RR6EEI-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans X Shake Junt Menu T-Shirt</h4>
            <p class="card-text text-left" >
              $24.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/S2MBLK-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Thank You Floral Long Sleeve T-Shirt</h4>
            <p class="card-text text-left" >
              $28.00
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/TUNBLK-HERO.webp"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Vans X Shake Junt Chicken & Waffle T-Shirt</h4>
            <p class="card-text text-left" >
              $24.50
            </p>
            <a href="{{ url_for('carrito') }}"  class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>

    <div class="col-sm">
      <section>
        
        <div class="card text-left">
          <img
            class="card-img-top"
            src="../static/img/Poleras/TUZZXZ-HERO.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">66 Supply T-Shirt</h4>
            <p class="card-text text-left" >
              $24.00
            </p>
            <a href="{{ url_for('carrito') }}" class="btn btn-primary bg-danger border-danger"
              ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg> Añadir al carrito</a
            >
          </div>
        </div>
      
    </section>
    </div>
    </div>
    </div>






  {% endblock %}
