{% extends "layout.html" %} 

{% block content %}
<!--bootstrap - Carousel-->
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container" style="margin-top: 1%">
  <!-- PRIMERA FILA-->
  <div class="row"style="margin-top: 1%;">
    <!-- PRIMERA COLUMNA-->
    <div class="col-sm">
      <!--ITALIANA-->
      <section>
        
          <div class="card text-left">
            <img
              class="card-img-top"
              src="images/pizzasru/pepperoni.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza italiana</h4>
              <p class="card-text text-left">
                Si amas lo clásico, esta es tu pizza. Delicioso queso
                Mozzarella, jamón y tomate al oreganato.
              </p>
              <a href="#" class="btn btn-primary bg-danger border-danger"
                >Añadir al carrito</a
              >
            </div>
          </div>
        
      </section>
    </div>

    <!--HAWAIANA-->
    <div class="col-sm">
      <section>
        
          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzasru/3 carnes.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        
      </section>
    </div>
    <!--Meaty Lovers -->
    <div class="col-sm">
      <section>
        
          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzasru/3 carnes.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        
      </section>
    </div>
    <!--Meaty Lovers -->
    <div class="col-sm">
      <section>
        
          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzasru/4queso.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        
      </section>
    </div>
  </div>

  <!--FILA NUMERO 2-->
  <div class="row" style="margin-top: 1%;">
    <div class="col-sm">
      <section>
          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
      
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
      
    </div>
  </div>

  <!-- FILA NUMERO 3-->
  <div class="row" style="margin-top: 1%;">

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>

    <div class="col-sm">
      <section>

          <div class="card">
            <img
              class="card-img-top"
              src="images/pizzas/hawaina.png"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Pizza hawaiana</h4>
              <p class="card-text">
                ¡Para quienes aman ser diferentes! Irresistible queso
                Mozzarella, jamón y trozos de piña.
              </p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>

      </section>
    </div>
    </div>
    </div>






  {% endblock %}
